@page
@model IndexModel
@{
    ViewData["Title"] = "Aviato";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <link rel="stylesheet" href="plugins/themefisher-font/style.css">
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/animate/animate.css">
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body id="body">
    <section class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <ul class="top-menu text-left list-inline">
                        @if (Model.Employee != null)
                        {
                            <li>
                                <a asp-page="Add">
                                    <i class="tf-ion-android-add"></i>Add product
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="logo text-center">
                        <a asp-page="Index">
                            <svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
                                   font-family="AustinBold, Austin" font-weight="bold">
                                    <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                                        <text id="AVIATO">
                                            <tspan x="108.94" y="325">AVIATO</tspan>
                                        </text>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-4">
                    <ul class="top-menu text-right list-inline">
                        @if (Model.Employee == null)
                        {
                            <li>
                                <a asp-page="Cart">
                                    <i class="tf-ion-android-cart"></i>Cart
                                </a>
                            </li>

                            <li>
                                <a asp-page="Login">Login</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-page="Logout">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="menu">
        <nav class="navbar navigation">
        </nav>
    </section>

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name">Shop</h1>
                        <ol class="breadcrumb">
                            <li><a asp-page="Index">Home</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="products section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget product-category">
                        <h4 class="widget-title">Categories</h4>
                        <div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Women
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a asp-route-category="Women's Jackets & Coats" asp-page-handler="Category">Jackets & Coats</a></li>
                                            <li><a asp-route-category="Women's Jeans" asp-page-handler="Category">Jeans</a></li>
                                            <li><a asp-route-category="Women's Tops" asp-page-handler="Category">Tops</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Men
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a asp-route-category="Men's Jackets & Coats" asp-page-handler="Category">Jackets & Coats</a></li>
                                            <li><a asp-route-category="Men's Jeans" asp-page-handler="Category">Jeans</a></li>
                                            <li><a asp-route-category="Men's Shirts" asp-page-handler="Category">Shirts</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        @foreach(var p in @Model.Products)
                        {
                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a asp-page="Single" asp-route-id="@p.Id">
                                        <img class="img-responsive" src="images/shop/@(p.Name).jfif" alt="product-img" />
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h4><a asp-page="Single" asp-route-id="@p.Id">@p.Name</a></h4>
                                    <p class="price">€@p.Price</p>
                                </div>
                            </div>
                        </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright-text">Copyright &copy;2021, Designed &amp; Developed by <a href="https://github.com/Veljanovskii/Aviato">Miloš Veljanovski &amp; Božidar Đorđev</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="plugins/jquery/dist/jquery.min.js"></script>

    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>

    <script src="plugins/instafeed/instafeed.min.js"></script>

    <script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>

    <script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/slick/slick-animation.min.js"></script>

    <script src="js/script.js"></script>

</body>
</html>
